@charset "utf-8";
/* CSS Document */

ul.dropmenu{
	position: relative;
	margin: 0px;
	padding: 1px 0px 0px 0px;
	display:block;
	height: 32px;
	font-size: 14px;
	color:#fed296;
	text-transform:uppercase;
	text-align:center;
	width:1000px;
	float:left;
	
}
.inner-nav
{
 width:1000px;
 background-color:#cc1220;
 height:36px;
    
}
.dropmenu ul li
{
    background:none;
}
.dropmenu li{
	position: relative;
	list-style: none;
	display:inline-block;
	margin: 0px;
	padding: 0px;
	margin-left:-5px;
}
.dropmenu li a{
	height: 22px;
	padding: 9px 15px 4px 15px;
	display:inline-block;
	cursor: point;
	font-family:Arial;
	font-size: 13px;
	color:#fed296;
	font-weight:700;
	text-transform:uppercase;
}
.dropmenu li a:hover
{
	background-color:#a9121d;
}
.dropmenu li span{
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 12px;
	right: 10px;
}
.dropmenu li  a:hover span{
}
.dropmenu li:hover ul, .dropmenu li:hover div{
	display: block;
}
.dropmenu ul{
	position: absolute;
	display: none;
	width: 280px;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #6f6e6e;
	background-color:#a9121d;
	z-index:10000 !important;
}
.dropmenu ul li{
	border: 0;
	float: none;
	display:block;
	margin-left:5px;
	text-align: left
}
.dropmenu ul a {
  white-space: nowrap;
  display:block;
  color: #fff;
  text-transform: none;
}

.dropmenu ul a:hover {
	color:#fff !important;
	text-decoration: none;
	background-color: #a9121d;
	background-image: none;
}
.dropmenu div ul{
	position: relative;
	display: block;
}
.dropmenu li div{
	padding: 5px;
	display: none;
	position: absolute;
}
.dropmenu li div ul{
	border: none;
	background: none;
	position: relative !important;
}
.dropmenu li div a{
	border: none;
	border-bottom: 1px solid #a09c9c;
}
.dropmenu li div div{
	display: block;
	position: relative;
	background: none;
	border: none;
}
.dropmenu li div div a{
	display: inline;
	border: none;
	color: #666;
	padding: 0px;
	margin: 0px;
	text-transform: none;
	
}
.dropmenu li div div a:hover{
	color: #000;
	text-decoration: none;
}
li.haschildren ul li a
{
	  padding: 7px 10px 0px 10px;
	  border-bottom:dashed 1px #cc333e
}

.dropmenu a.selected{
	background-color:#a9121d;
}
a.selected span{
}
